@font-face {
  font-family: 'H5PFontIcons';
  src:  url('../fonts/h5p.eot?e0985y');
  src:  url('../fonts/h5p.eot?e0985y#iefix') format('embedded-opentype'),
    url('../fonts/h5p.ttf?e0985y') format('truetype'),
    url('../fonts/h5p.woff?e0985y') format('woff'),
    url('../fonts/h5p.svg?e0985y#H5PFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
