@font-face {
  font-family: 'H5PFontIcons';
  src:  url('../fonts/h5p.eot?e0985y');
  src:  url('../fonts/h5p.eot?e0985y#iefix') format('embedded-opentype'),
    url('../fonts/h5p.ttf?e0985y') format('truetype'),
    url('../fonts/h5p.woff?e0985y') format('woff'),
    url('../fonts/h5p.svg?e0985y#H5PFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'H5PFontIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h5p-font-icon-enabled:after {
  font-family: "H5PFontIcons";
  font-size: 1.5em;
  color: #777;
  position: absolute;
  top: .2em;
  right: .2em;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  text-align: center;
  line-height: 1;
}
/* H5P.SingleChoiceSet */
.h5p-singlechoiceset.h5p-font-icon-enabled:after {
  content: "\e603";
}

.icon-cross:before {
  content: "\e600";
}
.icon-check:before {
  content: "\e601";
}
.icon-menu-drag-the-words-icon:before {
  content: "\e602";
}
.icon-menu-mark-the-words-icon:before {
  content: "\e603";
}
.icon-menu-anchor-icon:before {
  content: "\e604";
}
.icon-menu-multiple-choice-set-icon:before {
  content: "\e605";
}
.icon-left:before {
  content: "\e606";
}
.icon-right:before {
  content: "\e607";
}
.icon-bring-to-front:before {
  content: "\e608";
}
.icon-finger:before {
  content: "\e609";
}
.icon-radio-unselected:before {
  content: "\e60b";
}
.icon-checkbox-selected:before {
  content: "\e60c";
}
.icon-radio-selected:before {
  content: "\e60d";
}
.icon-menu-dialog-cards-icon:before {
  content: "\e900";
}
.icon-menu-questionnaire-icon:before {
  content: "\e901";
}
.icon-menu-true-false-icon:before {
  content: "\e902";
}
.icon-menu-navigational-hotspot-icon:before {
  content: "\e903";
}
.icon-checkbox-unselected:before {
  content: "\e904";
}
.icon-tip-icon:before {
  content: "\e905";
}
.icon-comments-icon:before {
  content: "\e906";
}
.icon-play-icon:before {
  content: "\e907";
}
.icon-video-upload-icon:before {
  content: "\e909";
}
.icon-top-menu-video-icon:before {
  content: "\e911";
}
.icon-top-menu-summary-icon:before {
  content: "\e912";
}
.icon-top-menu-background-icon:before {
  content: "\e913";
}
.icon-top-menu-dnd-icon:before {
  content: "\e914";
}
.icon-top-menu-hotspot-icon:before {
  content: "\e915";
}
.icon-top-menu-settings-icon:before {
  content: "\e916";
}
.icon-top-menu-interactions-icon:before {
  content: "\e917";
}
.icon-cp-clone:before {
  content: "\e919";
}
.icon-cp-background:before {
  content: "\e91a";
}
.icon-menu-video:before {
  content: "\e980";
}
.icon-cp-sort-left:before {
  content: "\e987";
}
.icon-cp-sort-right:before {
  content: "\e988";
}
.icon-cp-delete:before {
  content: "\e989";
}
.icon-cp-new-slide:before {
  content: "\e990";
}
.icon-menu-drag-and-drop-icon:before {
  content: "\e991";
}
.icon-menu-summary-icon:before {
  content: "\e992";
}
.icon-menu-single-choice-set-icon:before {
  content: "\e993";
}
.icon-menu-fill-in-the-blanks-icon:before {
  content: "\e994";
}
.icon-menu-exportable-text-icon:before {
  content: "\e995";
}
.icon-menu-continous-text-icon:before {
  content: "\e996";
}
.icon-menu-text-icon:before {
  content: "\e997";
}
.icon-uniE998:before {
  content: "\e998";
}
.icon-uniE999:before {
  content: "\e999";
}
.icon-bubble-icon:before {
  content: "\e908";
}

