@font-face {
  font-family: 'H5PFontIcons';
  src:  url('../fonts/h5p.eot?cpex0j');
  src:  url('../fonts/h5p.eot?cpex0j#iefix') format('embedded-opentype'),
    url('../fonts/h5p.ttf?cpex0j') format('truetype'),
    url('../fonts/h5p.woff?cpex0j') format('woff'),
    url('../fonts/h5p.svg?cpex0j#H5PFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}